@media screen  and  (min-width: 760px) {
	.centered{
		margin: 0 auto;
		max-width: 760px;
		padding-left: 10px;
		padding-right: 10px;
	}

	body > nav{
		& > *{
			@extend .centered;
		}

	}

	#maincontent{
		& > *{
			@extend .centered;
		}
		section{
			article{
				vertical-align: top;
				display: inline-block;
				width: 175px;
				padding-right: 10px;
				&.fullslot{
					width: 100%;
				}
			}
		}
	}


}